{% include 'style.html'%}
{%load static %}


  <body>
    <!-- the navbar -->
    <header
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1   shadow">
      <a href="" 
              class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-5">
           Coorparates  <span class="text-info">Solutions</span></a > 
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
       <p class="lead  h6 text-white">Good Day {{user.username}} You have <span>No</span> Notifications <i class="fa fa-bell text-info" aria-hidden="true"></i>
   <!--    {% for dataa in E36%}
         {% if data.Status == 'Completed'%} -->
        
         <!-- {%else%}
            <span></span> Notifications! <i class="fa fa-bell text-danger" aria-hidden="true"></i>
          {%endif%}
      {%endfor%} -->

        </p>
       
     <div class="dropdown me-4">
              <a
                href="#"
                class="d-flex align-items-center text-blue text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src=" {% static '../static/Images/Capture.PNG'%}"
                  alt="profilepicture"
                  width="32"
                  height="32"
                  class="rounded-circle me-2"
                /> 
                <strong class="text-white">{{user.email}}</strong>
              </a>
              <ul class="dropdown-menu text-end dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </div>
      </div>
    </header>
    <div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light shadow  sidebar collapse" style='width: 25%'>
      <div class="position-sticky pt-3 sidebar-sticky">
        <br>
        <a class="nav-link h5 text-black" href="{% url 'dashboard' %}">
             Main Dashboard
            </a>
            <hr>
            <a class="nav-link h5 text-success" href="{% url 'viewDocuments' %}">
             Documents
            </a>
            <a class="nav-link h5 text-warning" href="{% url 'contacts' %}">
             Main Conducts
            </a>
            <hr>
        
        <span class="h4 ms-3 text-center mt-5 text-black fs-italic">Quotations(E36)</span>
        <ul class="nav flex-column">
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'addE36' %}">
              <span data-feather="file" class=" text-black align-text-bottom"></span>
             Add Quotation
            </a>  
            <a class="nav-link " href="{% url 'Calculator' %}">
              <span data-feather="file" class=" text-black align-text-bottom"></span>
            Calculator
            </a>   
            <a class="nav-link " href="{% url 'viewMyE36' %}">
              <span data-feather="file" class="align-text-bottom"></span>
             View  My Quotations
            </a>     
              <a class="nav-link " href="{% url 'viewE36' %}">
              <span data-feather="file" class="align-text-bottom"></span>
             View All Quotations
            </a> 
          </li>
        </ul>
        <hr>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Evaluation</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Financial Evaluation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
             Tenchnical Evaluation
            </a>
          </li>
        </ul>
        <hr>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link text-black"  href="{% url 'weekly' %}">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Weekly Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              First Quarter Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
             Second Quarter Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Third Quarter Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Fourth Quarter Report
            </a>
          </li>
        </ul>
        <hr>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Purchase Paper</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
             Create The Purchase Paper
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Specifications
            </a>
          </li>
        </ul>
        <hr>
             <span class="h4 ms-3 text-center mt-5 text-black fs-italic">General Infomation</span>
        <ul class="nav flex-column">
          <li class="nav-item text-white">
            
            <a class="nav-link " href="">
              <span data-feather="file" class=" text-black align-text-bottom"></span>
            Information About Department
            </a>     
            <a class="nav-link text-black" href="{% url 'what_is_e36' %}">
              <span data-feather="file" class="align-text-bottom"></span>
              What is a Quotation(E36)?
            </a> 
            <a class="nav-link text-black" href="{% url 'what_is_e36' %}">    
              <span data-feather="file" class="align-text-bottom"></span>
             Informations About Evaluations
            </a>     
            <a class="nav-link text-black"  href="{% url 'stepsToFollow' %}">
              <span data-feather="file" class="align-text-bottom"></span>
             Information About Purchase Papers
            </a>     
                
          </li>
      </ul>
      <hr>
      <span class="h4 ms-3 text-center mt-5 text-black fs-italic">Manual</span>
        <ul class="nav flex-column">
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'stepsToFollow' %}">
              <span data-feather="file" class=" text-black align-text-bottom"></span>
            Qutations
            </a>     
            <a class="nav-link text-black " href="{% url 'viewE36' %}">
             
             VoIP Phones Configurations
            </a>     
              <a class="nav-link " href="{% url 'viewE36' %}">
              <span data-feather="file" class="align-text-bottom"></span>
           
            </a> 
          </li>
        </ul>
        <hr>
      </div>
    </nav>
     
    {% block content %} {% endblock content %}
    <script src="{% static '../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  </body>
<br>
<footer class="py-5 bg-dark text-dark mt-0"> 
      <div class="container"> 
          <div class="row center">
              <div class="col-6 col-md-2 mb-3">
                  <h5 class="header-blue">What We Do</h5>
                  <hr>
                  <ul class="nav  flex-column">
                  <li class="nav-item mb-2 text-dark"><a href="#" class="nav-link p-0 text-muted">E36</a></li>
                  <li class="nav-item mb-2 text-dark"><a href="#" class="nav-link p-0 text-muted">Reports</a></li>
                  <li class="nav-item mb-2 text-dark"><a href="#" class="nav-link p-0 text-muted">Evaluations</a></li>
                  <li class="nav-item mb-2 text-dark"><a href="#" class="nav-link p-0 text-muted">Purchase Paper</a></li>
                  </ul>
              </div> 
              
              <div class="col-6 col-md-2 mb-3"> 
                  <h5  class="header-blue">Get In Touch</h5> <hr>
                  <ul class="nav flex-column">
                  <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email :</a></li> -->
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email :<strong>tnctelecomms@gmail.com</strong></a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="facebook fa-solid fa-phone"></i> 0773 735 227</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands Whatsapp fa-whatsapp"></i> 071 303 7757</a></li>
                  </ul>
              </div> 
              <div class="col-6 col-md-2  mb-3">
                  <div class="text-end">
                  <h5 class="header-blue">Address</h5> <hr>
                  <ul class="nav flex-column ">
                  <li class="nav-item mb-2">Southlea Park WaterFalls</li>
                    <li class="nav-item mb-2">Harare</li>
                  </ul>
              </div>
          </div> 
              <div class="col-6 col-md-2 mb-3">
                  <h5  class="header-blue">Follow Us</h5> <hr>
                  <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="https://www.instagram.com/" class="nav-link p-0 text-muted"><i class="fa-brands  a-tags fa-instagram"></i> Instagram</a></li>
                  <li class="nav-item mb-2"><a href="https://twitter.com/home"  class="nav-link p-0 text-muted"> <i class="fa-brands facebook fa-twitter"></i> Twitter</a></li>
                  <li class="nav-item mb-2"><a href="https://www.facebook.com/" class="nav-link p-0 text-muted"> <i class="fa-brands facebook a-tags fa-facebook"></i> Facebook</a></li>

                  </ul>
              </div>
          </div> 
          <!-- <div class="col-md-5 offset-md-0 mb-3 ">
              <form class="comment">
                  <h5>Leave a comment</h5>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <input type="text" class="form-control" placeholder="Write Your Comment">
                      <button  id ='comment'class="btn btn-outline-info" type="button">Submit</button>
                  </div>
              </form>
          </div>  -->
    </div> 
    <div class="d-flex flex-column flex-sm-row mx-md-5 center justify-content-between py-4 my-4 border-top">
      <p> Develped by NITACAGRA SOFTWARES</p>
        <p>&copy; <span id="time">2023</span> Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-light a-tags" href="https://twitter.com/home"> <i class="fa-brands facebook fa-twitter"></i> Twitter</a></li>
          <li class="ms-3"><a class="link-light  a-tags" href="https://www.instagram.com/"><i class="fa-brands  a-tags fa-instagram"></i> Instagram</a></li>
          <li class="ms-3"><a class="link-light  a-tags" href="https://www.facebook.com/"><i class="fa-brands facebook a-tags fa-facebook"></i> Facebook</a></li>
          <li class="ms-3"><a class="link-light  a-tags" href="https://www.facebook.com/"><i class="fa-brands facebok a-tags fa-linkedin"></i> LinkedIn</a></li>
        </ul> 
      </div> 
    
    <script src="../JS/index.js"></script>
  </footer>
</html>


