{% extends 'dashboard.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
<head>
  <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is creating new services that are offred by NitacagraSoftwares  
    Such as Free Blog Hosting abd Teaching Learners Web Development"
  />
{% block title%}
    <title>Telone |add Quotation</title>
{%endblock title%}
</head>

<body>
<main class="col-md-9 col-lg-10 align-content-center px-md-4"
     style="width: 75%">
     <main class="col-md-9  col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            
            <input type="search"  placeholder="search E36" class="btn btn-sm btn-outline-secondary"></input>
            <button type="button" class="btn btn-sm btn-outline-secondary">Search</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            Filter
          </button>
        </div>
      </div>
  </main>
          <div class=" text-start mt-1"
          >
          <br>
              <div class=" text-center">
                <h5  class=" text-info"> Detailed Quotation(E36)</h5>
                  
              </div>
              <div class="container-fluid text-start  boader mx-sm-5">
                <p class="lead">Customer/Client Name :   <strong>{{data.NameClient}}</strong> </p>
                 <p class="lead">City Of Client <strong>{{data.City}}</strong></p>
                <p class="lead">Project Scope :   <strong>{{data.Type}}</strong> </p>
                <p class="lead">Start Date <strong>{{data.DateReceived}}</strong></p>
                <p class="lead">Finish Date <strong>{{data.DateSubmited}}</strong></p>
                 <p class="lead">Start Time <strong>{{data.TimeRecived}}</strong></p> 
                <p class="lead">Finish Time <strong>{{data.TimeSubmitted}}</strong></p>
                <p class="lead">Received From:  <strong>{{data.Receivedfrom}}</strong></p>
                <p class="lead">Done By : <strong>{{data.created_by}}</strong></p>
                <p class="lead">Value(GrandTotal) :<strong>${{data.Total}}</strong></p>
                <p class="lead">Status :<strong>{{data.Status}}</strong></p>  
                <p class="lead">Duration :<strong>{{data.Duration}}</strong></p>
                 <p class="lead">Image :<strong>{{data.image}}</strong></p>
                  <p class="lead">weekly Report :<strong>{{data.WeekReport}}</strong></p>
                 <p class="lead">Comments :<strong>{{data.comments}}</strong> </p>
              
             
                
               
              </div>
              
             <br>
           <div class="text-center">
            <button class="text-center btn btn-sm btn-outline-info"><a class="nav-link p-0 text-muted" href="{% url 'dashboard'%}">Back To Main dashboard</a></button>
            <button class="text-center btn btn-sm btn-outline-info"><a class="nav-link p-0 text-muted" href="{% url 'DeleteE36' data.id%}">Delete</a></button>
           </div> 
          </div>


 </main>
  
  

  <script src="{% static '../static/JS/view.js'%}"></script>
</body>
{%endblock content%}
