{% extends 'dashboard.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
<head>
  <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is creating new services that are offred by NitacagraSoftwares  
    Such as Free Blog Hosting abd Teaching Learners Web Development"
  />
{% block title%}
    <title>Telone |add Quotation</title>
{%endblock title%}
</head>

<body>
<main class="col-md-9 col-lg-10 align-content-center px-md-4"
     style="width: 75%">
     <main class="col-md-9  col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            
            <input type="search"  placeholder="search E36" class="btn btn-sm btn-outline-secondary"></input>
            <button type="button" class="btn btn-sm btn-outline-secondary">Search</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            Filter
          </button>
        </div>
      </div>
  </main>
          <div class=" text-start mt-1"
          >
          <br>
              <div class=" text-center">
                <h5  class=" text-info"> All Documents and Templates</h5>
                 
              </div>
             
           
        <table class="table table-bordered table-striped table-sm">
          <thead>

            <tr class="bg-success">
            
              <th scope="col">Document Name(Click To Download)</th>
              <th scope="col">Discription</th>
               
            
            </tr>
          </thead>
          <tbody>
            {% for data  in Documents %}
            <tr >
              <td  ><a class="text-info nav-link navs-link fs-6" href="{{data.FileUrl}}">{{data.Name}}</a></td>
              <td >{{data.Discription}}</td>
             
            </tr>
            {%endfor%} 
          </tbody>
        </table>
             
           <div>
            <button class="text-center btn btn-sm btn-outline-info"><a class="nav-link p-0 text-muted" href="{% url 'dashboard'%}">Back To Main dashboard</a></button>
            <button class="text-center btn btn-sm btn-outline-info"><a class="nav-link p-0 text-muted" href="{% url 'AddDocuments'%}">Add The Docunent</a></button>
           </div> 
          </div>


 </main>
  
  

  <script src="{% static '../static/JS/view.js'%}"></script>
</body>
{%endblock content%}
