{% extends 'base.html' %} {% block content%} {% load static%} {% block title%}
<head>
  <meta name="Key Words" content="Nitacagra Software Home Page" />
  <meta
    name="description"
    content="This is home of NitacagraSoftwares services,projects Guides as well as Products"
  />
  <title>Telone |National Implementataion</title>
</head>
{%endblock title%}
<main class="hero-index dropdown-disapper">
  <section class="carousel">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        
        <div class="carousel-item  active" >
          <img
            src="{{first_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="For Projects Guides"
          />
          <div class="container">
            <div class="carousel-caption text-start">

              <h1 class="header-blue">{{first_slide.name}}</h1>
              <p class="fs-4" >{{first_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{first_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div>
        
         <div class="carousel-item" data-bs-interval="8000">
          <img
            src="{{second_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="Programmed Drone"
          />
          <div class="container">
            <div class="carousel-caption">
               <h1 class="header-blue">{{second_slide.name}}</h1>
              <p class="fs-4" >{{second_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{second_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div> 
         <div class="carousel-item" data-bs-interval="9000">
          <img
           src="{{last_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="The spider web representing  website"
          />

          <div class="container">
            <div class="carousel-caption text-end">
              <h1 class="text-warning">{{last_slide.name}}</h1>
              <p class="fs-4" >{{last_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{last_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div> 
      </div>
            </div>
          </div>
        </div> 
      </div>
     
      
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button> 
       <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> 
    </div>
    
  </section>
 
</main>
<script src=" {% static '../../static/JS/home.js'%}"></script>
{%endblock content%}
