{% extends 'base.html' %}
 {%load static%} 
 {% block content %}
 {% block title%}
<head>

<title >NitacagraSoftwares |LogIn To Your Account</title>
</head>
{%endblock title%}
<body>
  <br> <br>
    <section class=" container-fluid d-flex align-items-center justify-content-center">
        <form id='form-id' class="shadow-lg mt-5 mb-5"  method = 'POST'
        style="width:400px"  >
          {% csrf_token %}
          <div class="mb-3  form"> 
            <div class="error-class">
              <br>
              <h4 class="login mx-sm-5  text-center "> National Implementation</h4>
              <h6 class="login mx-sm-5 text-info   text-center ">Coorparates Solutions <span class="text-warning">(Attachee)</span> </h3>
            {% for message in messages %}
              {% if message.tags == 'warning'%}
                <div class="  mx-sm-3 ">
                  <p class="text-danger text-center">{{message}}</p>
                <div/>
              {%endif%} 
              {%endfor%}
            </div>
            <br>
          <div class="form mb-3 mx-sm-5">
             <label for ='username' class="form-label user">Enter Username</label>
             <input
              type="text"
              name="username"
              class="form-control input"
              id='username'
              required
              aria-describedby="emailHelp"
              required
              spellcheck="true"
            />
          </div>
          <div class="mb-3 mx-sm-5 form">
            <label for="password" class="form-label"> Enter Password</label>
            <input
              type="text"
              name="password"
              class="form-control input"
              id='passowrd'
              required
            /> 
          </div>
          <div class="mb-3 form-check mx-sm-5 form">
            <input
              type="radio"
              class="form-check-input input"
              id="exampleCheck1"
            />
            <div class="d-flex-inline">
              <input type="radio" class="form-check-input input" id="remember" />
             <label class="form-check-label" for="remember"
              >Remember me next time</label>
              <a class="nav-link navs-link " href="{% url 'sign_up' %}">Create New Account</a>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn mb-4 w-50 btn-info button">
              Log In
            </button>
          </div>
        </form>
      </div>
      <script src="{% static '../static/JS/admin.js'%}"></script> 
    </section>
  </body>
 

{% endblock content %}
