{% extends 'dashboard.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
<head>
  <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is creating new services that are offred by NitacagraSoftwares  
    Such as Free Blog Hosting abd Teaching Learners Web Development"
  />
{% block title%}
    <title>Telone |Weekly Reports</title>
{%endblock title%}
</head>

<body>
<main class="col-md-9 col-lg-10 align-content-center px-md-4"
     style="width: 75%">
     <main class="col-md-9  col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Week {{week}} Reports</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>
  </main>
          <div class=" text-start mt-1"
          >
          <br>
              <div class=" text-start">
                <h5  class="fw-bolder">LIST OF ALL 3E6</h5>
              </div>
              
              <br />
            
              <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr class="bg-info"></th>
              <th scope="col">Name of E36</th>
              <th scope="col">Type of Service</th>
              <th scope="col">Received From </th>
              <th scope="col">Duration(hrs)</th>
              <th scope="col">DateReceived</th>
              <th scope="col">DateSubmited</th>
            </tr>
          </thead>
          <tbody>
            <h1>{{data2.Name}}</h1>
            {% for data  in E36 %}
            {% comment %} {% if data.DateReceived == today or data.DateReceived == min %}  {% endcomment %}
            <tr >
              <td  >{{data.Name}}</td>
              <td >{{data.DateReceived}}</td>
              <td>{{data.Type}}</td>
              <td>{{data.DurationField}} Hours</td>
              <td>{{data.DateReceived}}</td>
              <td>{{data.DateSubmited}}</td>
            </tr>
            {% comment %} {% endif %} {% endcomment %}
            {%endfor%} 
          </tbody>
        </table>
             
           <div>
            <button class="text-center btn btn-sm btn-outline-info"><a class="nav-link navs-link  fs-6 " href="{% url 'dashboard'%}">Back To Main dashboard</a></button>
           </div> 
          </div>


 </main>
  
  

  <script src="{% static '../static/JS/view.js'%}"></script>
</body>
{%endblock content%}
